* {
	margin: 0;
	padding: 0;
}
html{
}
body{
	background-color: #282828;
	font-family: 'Titillium Web', sans-serif;
}
img{	
	border: 0;
}
h1 {
	font-size: 40px;
	font-family: "Titillium Web";
	font-weight: bold;
	line-height: 0.748;
  text-align: center;
	text-transform: uppercase;
}
h1:after {
	display: block;
	margin: 20px auto;
	content: "";
	background-color: grey;
	opacity: 0.3;
	width: 87px;
	height: 5px;
}
h2 {
	text-transform: uppercase;
	font-family: "Titillium Web";
}
a{
	color: #0ebaf2;
	outline: none;
	text-decoration: none;
}
a:hover{
	color: #000;	
}
a:active{
	color: #c60101;
}
a:visited{
	color: #c60101;
}	
ul li{
	list-style: none;
}
section{
	padding: 0px 150px;
	clear: both;
}
/* Layout
----------------------------------*/	
.page-container {
	width: 1440px;
	/*min-width: 1440px;
	max-width: 75%;для больших мониторов?*/
	margin: 0 auto;
}
.wellcome{
  background-color: rgb(135, 80, 156);
	padding-top: 57px;
	padding-bottom: 146px;
}
.wellcome .logo {
	float:left;
	height: 37px;
	width: 118px;
	background: url("../images/layout/logo.png") no-repeat;
}
.wellcome nav ul li a {
	display: block;
}
.wellcome nav {
	float: right;
	padding-top: 10px;
}
.wellcome nav a {
	font-size: 16px;
  color: rgb(255, 255, 255);
	text-align: center;
	line-height: 1.125;
	padding: 5px 15px 5px 15px;
	border-radius: 4px;
	text-shadow: 0.5px 0.866px 1px rgba(6, 6, 6, 0.27);
}
.wellcome nav a:hover{
	border-radius: 4px;
  background-color: rgb(100, 58, 121);
}
.wellcome nav li {
	display:  inline-block;
	float: left;
}
.wellcome .hi {
  margin: 145px 0px 60px 0px;
	clear: both;
  font-size: 36px;
  color: rgb(247, 243, 234);
  font-weight: bold;
  line-height: 1.158;
  text-align: center;
}
.wellcome .button a{
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 293px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding-top: 15px;
  font-weight: bold;
  line-height: 1.455;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(235, 125, 75);
  box-shadow: 0px 5px #c86a40;
}
.button {
}
.services {
	padding-top: 80px;
	padding-bottom: 80px;
  background-color: rgb(23, 194, 164);
	/*height: 747px;*/
}
.services h1{
 color: rgb(255, 255, 255);
	width: 100%;
	margin-bottom: 30px;
}
.services p {
	font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 1.444;
	text-align: center;
}
.line {
  display: block;
  margin: 0px auto;
}
.services article {
	display: inline-block;
	height: 400px;
	width: 260px;
	margin: 20px 0px 0 20px;
	text-align: center;
	padding: 0px 0px;
}
.services article h2{
  font-size: 24px;
  font-family: "Titillium Web";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.75;
}
.services article p {
	text-align: center;
	padding: 20px 30px;
	font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}
.services article figure img{
  margin: 0 auto;
}
.team {
	background-color: rgb(231, 241, 248);
  /*height: 915px;*/
	padding-top: 120px;
	padding-bottom: 80px;
}
.team h1{
	 color: rgb(60, 71, 97);
}
.team-slogan {
	font-size: 18px;
  color: rgb(60, 71, 97);
  line-height: 1.444;
  text-align: center;
	padding-bottom: 80px;
}
.team article {
	display: inline-block;
	height: 500px;
	width: 260px;
	margin: 20px 0px 0 20px;
	text-align: center;
}
.team article figure img {
	border-radius: 100px;
	max-height: 200px;
	max-width: 200px;
}
.team article figure h2 {
	font-size: 24px;
	color: rgb(39, 40, 61);
	font-weight: bold;
  line-height: 0.75;
	padding-top: 40px;
}
.team article figure h3 {
	font-size: 16px;
	color: rgb(48, 186, 231);
	line-height: 1.125;
	padding-top: 17px;
}
.team article figure p {
	font-size: 16px;
	color: rgb(60, 71, 97);
	line-height: 1.5;
	padding: 32px 25px 0 25px;
}
.team article social img {
	margin: 35px 5px 0 5px;
}
.skills {
	background-color: rgb(255, 255, 255);
	/*height: 655px;*/
	padding-top: 120px;
	padding-bottom: 80px;
}
.skills h1 {
	color: rgb(60, 71, 97);
}
.skills-slogan {
	font-size: 18px;
 	color: rgb(60, 71, 97);
  line-height: 1.444;
  text-align: center;
	padding: 0 270px 80px 270px;
}
.skills article {
	display: inline-block;
	height: 230px;
	width: 260px;
	margin: 20px 0px 0 20px;
	text-align: center;
	padding: 0px 0px;
	text-align: center;
}
.skills article figure img {
	border-radius: 100px;
	max-height: 200px;
	max-width: 200px;
}
.skills article figure h2 {
  font-size: 24px;
  color: rgb(60, 71, 97);
  font-weight: bold;
  line-height: 0.75;
	padding: 32px;
}
.portfolio {
	background-color: rgb(255, 221, 153);
	padding-top: 120px;
	padding-bottom: 80px;
	text-align: center;
}
.portfolio h1 {
	color: rgb(57, 57, 57);
}
.portfolio p {
	font-size: 18px;
  color: rgb(57, 57, 57);
  line-height: 1.444;
  text-align: center;
	padding: 0 300px 80px 300px;
}
.portfolio nav ul li a{
	display: block;
}
.portfolio nav {
	width: 380px;
	margin: 0px auto 10px auto;
}
.portfolio nav a {
	font-size: 18px;
  color: rgb(57, 57, 57);
  line-height: 1.083;
	text-align: center;
	padding: 12px 23px 12px 23px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.078);
}
.portfolio nav a:hover{
	border-radius: 4px;
  background-color: rgb(100, 58, 121);
  background-color: rgb(255, 255, 255);
}
.portfolio nav li {
	display:  inline-block;
	margin-right: 10px;
	min-width: 84px;
	float: left;
}
.portfolio nav ul :last-child {
	margin-right: 0px;
}
.portfolio article{
	width: 540px;
	height: 350px;
	margin: 48px 0px 0 0px;
	padding-right: 0px;
	display: inline-block;
}
.portfolio h3{
  font-size: 18px;
  color: rgb(57, 57, 57);
  text-transform: uppercase;
  line-height: 1.083;
	margin-top: 28px;
}
.portfolio .button a{
	display: block;
	margin: 0px auto;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 25px 30px 25px 20px;
  margin-top: 70px;
  font-weight: bold;
  line-height: 1.455;
  text-align: center;
  box-shadow: 0px 5px #14a58c;
	border-radius: 4px;
  background-color: rgb(23, 194, 164);
	width: 293px;
}
.testimonials {
	background-color: rgb(215, 70, 128);
 	padding-top: 120px;
	padding-bottom: 80px;
  /*height: 895px;*/
}
.testimonials p {
	font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.444;
  text-align: center;
}
.testimonials article {
	width: 430px;
	height: 250px;
	margin: 0 50px 0 50px;
	padding-right: 0px;
	display: inline-block;
}
.testimonials article figure img{
	background-color: gray;
	/*background: url("../images/layout/70.png") no-repeat 0 0;*/
	float: left;
  border-radius: 50%;
  background-color: rgb(120, 120, 120);
  max-width: 96px;
  max-height: 96px;
  margin: 0 50px 0 0;
}
.testimonials article figure figcaption p{
	margin: 10px 0 10px 0px;
  font-size: 17.5px;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.486;
  text-align: left;
  /*width: 271.1px;
  height: 69.156px;*/
}
.testimonials h2 {
	font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.083;
  text-align: left;
}
.testimonials h3 {
	font-size: 18px;
  color: rgb(255, 221, 153);
  line-height: 1.444;
  text-align: left;
	margin-left: 145px;/* костыль*/
}
.get-in-touch {
	padding-top: 120px;
	padding-bottom: 60px;
  background-color: rgb(60, 84, 153);
  /*height: 819px;*/
}
.get-in-touch h1{
  color: rgb(255, 255, 255);
}
.get-in-touch p{
	font-size: 18px;
  font-family: "Titillium Web";
  color: rgb(255, 255, 255);
  line-height: 1.444;
  text-align: center;
}
.get-in-touch form {
	width: 860px;
	margin: 0 auto;
}
.get-in-touch form input{
	border-radius: 4px;
  background-color: rgb(39, 58, 113);
	border: none;
	width: 364px;
  height: 15px;
	padding: 21px 25px 21px 25px;
	font-size: 18px;  
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
	margin-top: 80px;
}
.name{
	float: left;
}
.email{
	float: right;
}
.get-in-touch form textarea{
	background-color: rgb(39, 58, 113);
	margin-top: 27px;
	border: none;
	width: 810px;
  height: 150px;
	border-radius: 4px;
	font-size: 18px;
  font-family: "Titillium Web";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
	padding: 25px 21px;
}
.feedback{
	text-align: center;
}
#pusher{
	 display:none;
}
.feedback label{
	display: block;
	margin: 60px auto;
	height: 50px;
	width: 293px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding-top: 15px;
  font-weight: bold;
  line-height: 1.455;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(48, 186, 231);
  box-shadow: 0px 5px #299ec5;
}
.feedback a{
	display: block;
	height: 50px;
	width: 293px;
}
.social-footer{
  background-color: rgb(52, 75, 142);
}
.links ul li a {
	display: block;
}
.links {
	/*float: left;*/
	text-align: center;
	padding: 40px 0 40px 0;
}
.links a {
	padding: 5px 15px 5px 15px;
	border-radius: 4px;
	text-shadow: 0.5px 0.866px 1px rgba(6, 6, 6, 0.27);
  font-size: 24px;
  font-family: "Titillium Web";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.246;
  text-align: center;
}
.links a:hover{
	color: #30bae7;
}
.links li {
	display:  inline-block;
}